@import '_globals';

.card {
  @include phone-above {
    width: 31.5%;
  }

  margin-bottom: $standard-padding;
  position: relative;
  display: flex;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: .25rem;

  &:nth-child(3n-1):last-child {
    // Only apply these styles if the last row has 2 nodes
    margin-left: 2.5%;
    margin-right: auto;
  }
}
