@import "_globals";

.people {
  background: #fff;
  padding: 0 $standard-padding;
}

.above {
  @include phone-above {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  padding: 30px 0 8px;
  border-bottom: 1px solid black;
  margin-bottom: 22px;
}

.header {
  font-size: 1.5rem
}

.filter {
  @include phone-above {
    padding-top: 0;
  }
  display: flex;
  padding-top: 10px;
}

.label {
  @include phone-above {
    margin-left: 10px;
  }
}

.input {
  @include phone-above {
    margin-left: 5px;
  }
}
