@import "_globals";

.header {
  padding: 10px $standard-padding;
  background: darken($background-color, 5%);
  // Does look weird but pretty sure this matches what the image shows
  box-shadow: #000 1px 1px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: .5rem;
  font-weight: normal;
  line-height: 1.2;
}

.secondary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right {
  flex-grow: 1;
  text-align: right;
}
