$background-color: #eee;
$standard-padding: 15px;

@mixin phone-only {
  @media (max-width: 576px) { @content; }
}

@mixin phone-above {
  @media (min-width: 577px) { @content; }
}

@mixin tablet-above {
  @media (min-width: 768px) { @content; }
}

@mixin tablet-landscape-above {
  @media (min-width: 992px) { @content; }
}

@mixin desktop-above {
  @media (min-width: 1200px) { @content; }
}
