@import '_globals';

.person {
  display: flex;
  height: 100%;
}

.avatar {
  flex: 0 0 32%;
  align-items: center;
  display: flex;
  border-right: 1px solid black;

  img {
    width: 100%;
    height: auto;
  }
}

.info {
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.name {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.bio {
  display: block;
}
